{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "global/forms.css" %}">
{% endblock css_files %}

{% block title %}
New Tenant
{% endblock title %}

{% block content %}
<center><h1>New Tenant</h1></center>

<form class="MyForm" method="POST" action="{% url 'add_tenant' %}">
    {% csrf_token %}    
    {% for field in form %}
    <div class=" form_control {% if field.errors %} errors{% endif %}">
        <label class="{% if field.field.required == True %}required{% endif %}" for="{{ field.auto_id }}">{{ field.label }}</label>
        {{ field }}
        {{ field.errors }}
    </div>
    {% endfor %}    
    <br/>
    <button type="submit" class="btn btn-success">
        Save New Tenant
    </button>
    <a href="{% url 'all_tenants' %}" class="btn btn-danger">Cancel</a>
</form>
{% endblock content %}