{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "global/navbar.css" %}">
{% endblock css_files %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand white hoverable" href="{% url "home" %}">Prometheus CRM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link white hoverable" aria-current="page" href="{% url "all_properties" %}">Properties</a>
            </li>
            <li class="nav-item">
              <a class="nav-link white hoverable" aria-current="page" href="{% url "all_landlords" %}">Landlords</a>
            </li>
            <li class="nav-item">
              <a class="nav-link white hoverable" aria-current="page" href="{% url "all_tenants" %}">Tenants</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link white hoverable dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Collaborators
              </a>
              <ul class="dropdown-menu bg-dark">
                <li><a class="dropdown-item white" href="{% url "legal" %}">Legal</a></li>
                <li><a class="dropdown-item white" href="{% url "electricity" %}">Electricity</a></li>
                {% comment %} <li><hr class="dropdown-divider"></li> {% endcomment %}
                <li><a class="dropdown-item white" href="{% url "natural_gas" %}">Natural Gas</a></li>
                <li><a class="dropdown-item white" href="#">Building Managers</a></li>
                <li><a class="dropdown-item white" href="#">Sub-Contractors</a></li>
                <li><a class="dropdown-item white" href="#">Furnishing</a></li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url "logout" %}">Logout</a>
            </li>
        </ul>
      </ul>
      {% endif %}
      </div>
    </div>
  </nav>