{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "global/forms.css" %}">
{% endblock css_files %}

{% block title %}
New Natural Gas Company
{% endblock title %}

{% block content %}
<center><h1>New Natural Gas Company</h1></center>

<form class="MyForm" method="POST" action="{% url 'add_natural_gas' %}">
    {% csrf_token %}
    {% for field in form %}
    <div class=" form_control {% if field.errors %} errors{% endif %}">
        <label class="{% if field.field.required == True %}required{% endif %}" for="{{ field.auto_id }}">{{ field.label }}</label>
        {{ field }}
        {{ field.errors }}
    </div>
    {% endfor %}
    <br/>
    <button type="submit" class="btn btn-success">
        Save New Natural Gas Company
    </button>
    <a href="{% url 'natural_gas' %}" class="btn btn-danger">Cancel</a>
</form>

{% endblock content %}