{% extends 'base.html' %}
{% load static %}

{% block title %}
New Legal Team
{% endblock title %}

{% block content %}
<h1>New Legal Team</h1>
<br/>

<form method="POST" action="{% url 'add_legal' %}">
    {% csrf_token %}
    {% comment %} {{ form.as_p }} {% endcomment %}
    {% comment %} replaced by field {% endcomment %}
    {% for field in form %}
        <label class="required" style="{% if field.field.required == True %}color:red;{% endif %}" for="{{ field.auto_id }}">{{ field.label }}</label>
        {{ field }}
        </br>
    {% endfor %}
    <br/>
    <br/>
    <button type="submit" class="btn btn-success">
        Save New Legal Team
    </button>
    <a href="{% url 'legal' %}" class="btn btn-danger">Cancel</a>
</form>

{% endblock content %}