{% extends 'base.html' %}
{% load static %}

{% block title %}
New Property
{% endblock title %}

{% block content %}
<h1>New Property</h1>
<br/>

<form method="POST" action="{% url 'add_property' %}">
    {% csrf_token %}
    {% comment %} {{ form.as_p }} {% endcomment %}
    {% comment %} replaced by field {% endcomment %}
    {% for field in form %}
        <label class="required" {% if field.field.required == True %} style="color:red;"{% endif %} for="{{ field.auto_id }}">{{ field.label }}</label>
        {{ field }}
        </br>
    {% endfor %}
    <br/>
    <br/>
    <button type="submit" class="btn btn-success">
        Save New Property
    </button>
    <a href="{% url 'all_properties' %}" class="btn btn-danger">Cancel</a>


</form>

{% endblock content %}