{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "global/global.css" %}">
{% endblock css_files %}

{% block title %}
Active Rental Guarantees
{% endblock title %}

{% block content %}
<center><h1>Active Rental Guarantees</h1></center>
<br/>


<div class="panel-body table-responsive tableFixHead">
    <table class="table table-striped table-hover table-bordered sortable" id="myTable">
        <thead>
          <tr>
            <th onclick="sortTable(0)" scope="col">File no.</th>
            <th onclick="sortTable(1)" scope="col">Property ID</th>
            <th onclick="sortTable(2)" scope="col">Address</th>
            <th onclick="sortTable(3)" scope="col">Apartment No.</th>
            <th onclick="sortTable(4)" scope="col">RG Statring</th>
            <th onclick="sortTable(5)" scope="col">RG enging</th>            
          </tr>
        </thead>
        <tbody class="table-group-divider">
            {% if properties %}
                {% for property in properties %}
                <tr>
                    <td><a href="{% url "landlord_record" property.owner_1.id %}">{{ property.owner_1.file_type }}.{{ property.owner_1.file_number }}</a>
                        {% if property.owner_2 %} & <a href="{% url "landlord_record" property.owner_2.id %}">{{ property.owner_2.file_type }}.{{ property.owner_2.file_number }}</a>{% endif %}
                    </td>
                    <td><a href="{% url "property_record" property.id %}">{{ property.property_id }}</a></td>
                    <td><a href="{% url "property_record" property.id %}">{{ property.address|title }}</a></td>
                    <td><a href="{% url "property_record" property.id %}">{{ property.apartment_no }}</a></td>
                    <td>{{ property.rg_starting|date:"d/m/o" }}</td>
                    <td>{% if property.rg_expiring == True %}<strong style="color:red;">{% endif %}{{ property.rg_ending|date:"d/m/o" }}</strong></td>                                       
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>    
</div>


{% endblock content %}