{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "global/table.css" %}">
{% endblock css_files %}

{% block title %}
All Properties
{% endblock title %}

{% block content %}
<center><h1>All Properties</h1></center>
<br/>
<div class="panel-body table-responsive tableFixHead">

    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    
    <table class="table table-striped table-hover table-bordered sortable" id="myTable">
        <thead>
          <tr>
            <th scope="col">File no.</th>
            <th scope="col">ID</th>
            <th scope="col">Address</th>
            <th scope="col">Apartment No.</th>
            <th scope="col">Utilisation</th>
            <th scope="col">Status</th>
            <th scope="col">Rental Guarantee</th>            
          </tr>
        </thead>
        <tbody class="table-group-divider">
            {% if properties %}
                {% for property in properties %}
                <tr>
                    <td><a href="{% url "landlord_record" property.owner_1.id %}">{{ property.owner_1.file_type }}.{{ property.owner_1.file_number }}</a>
                        {% if property.owner_2 %} & <a href="{% url "landlord_record" property.owner_2.id %}">{{ property.owner_2.file_type }}.{{ property.owner_2.file_number }}</a>{% endif %}
                    </td>
                    <td><a href="{% url "property_record" property.id %}">{{ property.property_id }}</a></td>
                    <td><a href="{% url "property_record" property.id %}">{{ property.address|title }}</a></td>
                    <td><a href="{% url "property_record" property.id %}">{{ property.apartment_no }}</a></td>
                    <td style="color:{% if property.utilisation == "Long-Term Rental" %}green{% elif property.utilisation == "Short-Term Rental" %}purple{% elif property.utilisation == "Not Managed" %}red{% else %}blue{% endif %};">
                        {{ property.utilisation }}
                    </td>
                    <td>{{ property.utilisation_status }}</td>
                    {% if property.under_rental_guarantee == True %}
                    <td style="color:red;">{{ property.rg_ammount }}
                    {% else %}
                    <td style="color:grey;">NO                      
                    {% endif %}
                    </td>                    
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>    
</div>
{% endblock content %}