{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "global/global.css" %}">
{% endblock css_files %}

{% block title %}
All Rental Agreements
{% endblock title %}

{% block content %}
<center><h1>All Rental Agreements</h1></center>
<br/>
<div class="panel-body table-responsive tableFixHead"> 
    <table class="table table-striped table-hover table-bordered sortable" id="myTable">
        <thead>
          <tr>
            <th onclick="sortTable(0)" scope="col">File no.</th>
            <th onclick="sortTable(1)" scope="col">Property ID</th>
            <th onclick="sortTable(2)" scope="col">Tenant</th>
            <th onclick="sortTable(3)" scope="col">Agreement</th>
            <th onclick="sortTable(4)" scope="col">Starting Date</th>
            <th onclick="sortTable(5)" scope="col">Ending Date</th>
            <th onclick="sortTable(6)" scope="col">Rent</th>
            <th onclick="sortTable(7)" scope="col">Months Owed</th>
            <th onclick="sortTable(8)" scope="col">Status</th>            
          </tr>
        </thead>
        <tbody class="table-group-divider">
            {% if rental_agreements %}
                {% for rental_agreement in rental_agreements %}                
                <tr>
                    <td><a href="{% url "landlord_record" rental_agreement.property.owner_1.id %}">{{ rental_agreement.property.owner_1.file_type }}.{{ rental_agreement.property.owner_1.file_number }}</a>
                        {% if rental_agreement.property.owner_2 %} & <a href="{% url "landlord_record" rental_agreement.property.owner_2.id %}">{{ rental_agreement.property.owner_2.file_type }}.{{ rental_agreement.property.owner_2.file_number }}</a>{% endif %}
                    </td>
                    <td><a href="{% url "property_record" rental_agreement.property.id %}">{{ rental_agreement.property.property_id }}</a></td>
                    <td><a href="{% url "tenant_record" rental_agreement.tenant.id %}">{{ rental_agreement.tenant|title }}</a> {% if rental_agreement.tenant_2 %} & <a href="{% url "tenant_record" rental_agreement.tenant_2.id %}">{{ rental_agreement.tenant_2 }}</a>{% endif %}</td>
                    <td><a href="{% url "rental_agreement_record" rental_agreement.id %}">{{ rental_agreement.rental_agreement_name|title }}</a></td>
                    <td>{{ rental_agreement.rental_agreement_starting_date|date:"d/m/o" }}</td>
                    <td {% if rental_agreement.expiring == True and rental_agreement.is_active == True %}style="color:red;"{% endif %}>{{ rental_agreement.rental_agreement_ending_date|date:"d/m/o" }}</td>
                    <td>{{ rental_agreement.actual_rent }} €</td> 
                    <td><strong style="color:{% if rental_agreement.months_owed == 1 %}orange{% elif rental_agreement.months_owed == 0 %}black{% elif rental_agreement.months_owed > 1 %}red{% else %}blue{% endif %};"> {{ rental_agreement.months_owed }}</strong></td> 
                    {% if rental_agreement.is_active == True %}
                    <td style="color:green;">
                        Active
                    </td>
                    {% else %}
                    <td style="color:red;">
                        Inactive
                    </td>
                    {% endif %}                 
                </tr>
                
                {% endfor %}
            {% endif %}
        </tbody>
    </table>    
</div>
<a href="{% url "add_rental_agreement" %}" class="btn btn-success">Add Rental Agreement</a>
{% endblock content %}