{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "global/global.css" %}">
    <link rel="stylesheet" href="{% static "global/forms.css" %}">
{% endblock css_files %}

{% block title %}
Rental Agreement record
{% endblock title %}

{% block content %}
<center><h1>Rental Agreement Record</h1></center>
</br>
<div class="card text-center">
    <div class="card-header">
      <a href="{% url "property_record" record.property.id %}">ID {{record.property.property_id}} - {{record.property.address}}, {{record.property.municipality}}, {{record.property.zip_code}}</a>
    </div>
    <div class="card-body">
      <div>
        <strong>Landlord:</strong> <a href="{% url "landlord_record" record.property.owner_1.id %}">{{ record.property.owner_1}}</a>
      </div>
      <div>
      <strong>Tenant:</strong> <a href="{% url "tenant_record" record.tenant.id %}">{{ record.tenant }}</a> {% if record.tenant_2 %} & <a href="{% url "tenant_record" record.tenant_2.id %}">{{ record.tenant_2 }}</a>{% endif %}
      </div>
      <div>
        <strong>Actual Rent:</strong> {{ record.actual_rent }} €
      </div>
      <div>
        <strong>Security Deposits:</strong> {{ record.security_deposits }} monthly rent(s)
      </div>
      <div>
        <strong>Duration:</strong> {{ record.rental_agreement_starting_date|date:"d/m/o" }} - {{ record.rental_agreement_ending_date|date:"d/m/o" }}
      </div>      
      <div>
        <strong>Months Owed:</strong> <strong style="color:{% if months_owed == 1 %}orange{% elif months_owed == 0 %}black{% elif months_owed > 1 %}red{% else %}blue{% endif %};">{{months_owed}}</strong>
      </div>
      {% if record.rental_agreement_notes %}
      <div>
        <strong>Notes:</strong> 
      </br>
        {{ record.rental_agreement_notes }}
      </div>
      {% endif %}      
    </div>
    <div class="card-footer text-body-secondary">
      {% if record.is_active == True %}
      <strong style="color:green;">Active</strong> - 
      <strong><a id="edit" href="{% url "edit_rental_agreement" record.id %}">Edit</a></strong> - 
      <strong><a  id="terminate" href="{% url "terminate_rental_agreement" record.id %}">Terminate</a></strong>
      {% else %}
      <strong style="color:grey;">Inactive</strong>
      {% endif %}
    </div>
    <a href="{% url "all_rental_agreements" %}" class="btn btn-secondary">Back to All Rental Agreements</a>
  </div>
</br>
<div>
  <p class="d-inline-flex gap-1">
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Add Payment
    </a>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <form method="POST" action="{% url 'add_payment' %}">
        {% csrf_token %}
        {% for field in form %}
        <div class=" form_control {% if field.errors %} errors{% endif %}">
            <label class="{% if field.field.required == True %}required{% endif %}" for="{{ field.auto_id }}">{{ field.label }}</label>
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <br/>
        <button type="submit" class="btn btn-success">
            Save New Rent Payment
        </button>
    </form>
    </div>
  </div>
</div>
<center><h1>Payments History:</h1></center>
<div class="panel-body table-responsive tableFixHead">
  <table class="table table-striped table-hover table-bordered sortable" id="myTable">
      <thead>
        <tr>
          <th onclick="sortTable(0)" scope="col">Paid Month/Year</th>
          <th onclick="sortTable(1)" scope="col">Payment Amount</th>
          <th onclick="sortTable(2)" scope="col">Payment Date</th>
          <th onclick="sortTable(3)" scope="col">Paiment Method</th> 
          <th onclick="sortTable(4)" scope="col">Payment ID</th>          
        </tr>
      </thead>
      <tbody class="table-group-divider">
          {% if payments %}
              {% for payment in payments %}
              <tr>
                  <td>{{ payment.paid_month|date:"F"}} / {{ payment.paid_month|date:"o"}}</td>
                  <td style="color: {% if payment.payment_amount == record.actual_rent %}green{% else %}red{% endif %};">{{ payment.payment_amount }} €</td>
                  <td>{{ payment.payment_date|date:"d/m/o" }}</td>
                  <td>{{ payment.payment_mehtod }}</td>  
                  <td style="color:grey;">{{ payment.id }}</td>              
              </tr>
              {% endfor %}
          {% endif %}
      </tbody>
  </table>
</div>
{% endblock content %}