{% extends "base.html" %}

{% block title %}
User Login
{% endblock title %}

{% block content %}

<div class="col-md-6 offset-md-3">
    <h1>Login</h1>
    <br/>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <form>
            <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="Username" required>
            </div>
            <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            <br/>
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}"/>
            {% endif %}
            <button type="submit" class="btn btn-secondary">Login</button>
        </form>
    </form>
</div>

{% endblock content %}