a {
    color:black;
    text-decoration: none;
    
}

a:hover{
    color:#008080;
    /* Teal color name */
    text-decoration: none;
    font-weight: none;
}

table {
    text-align: center;
}

.tableFixHead{ 
    overflow: auto; height: 400px;
}

.tableFixHead thead th {
    position: sticky; top: 0; z-index: 1;
}

