a {
    color:black;
    text-decoration: none;
    
}

a:hover {
    color:#008080;
    /* Teal color name */
    text-decoration: none;
    font-weight: none;
}

a:active {
    color:#98AFC7;
    /* Metalic Silver color name */
    text-decoration: none;
    font-weight: none;
}

#rented {
    color: green;
}

#rented:hover {
    color:#008080;
    /* Teal color name */
    text-decoration: none;
    font-weight: none;
}

#rented:active {
    color:#98AFC7;
    /* Metalic Silver color name */
    text-decoration: none;
    font-weight: none;
}

#edit {
    color:#0dcaf0;
}

#terminate {
    color:#dc3545;
}

#edit:hover, #terminate:hover {
    color:#008080;
    /* Teal color name */
    text-decoration: none;
    font-weight: none;
}

#edit:active, #terminate:active {
    color:#98AFC7;
    /* Metalic Silver color name */
    text-decoration: none;
    font-weight: none;
}

table {
    text-align: center;
}

td, th {
    vertical-align: middle;
}

.tableFixHead{ 
    overflow: auto; height: 400px;
}

.tableFixHead thead th {
    position: sticky; top: 0; z-index: 1;
}
