{% extends 'base.html' %}
{% load static %}

{% block title %}
New Landlord
{% endblock title %}

{% block content %}
<h1>New Landlord</h1>
<br/>

<form method="POST" action="{% url 'add_landlord' %}">
    {% csrf_token %}
    {% comment %} {{ form.as_p }} {% endcomment %}
    {% comment %} replaced by field {% endcomment %}
    {% for field in form %}
        <label class="required" style="color:red; font-size:10px;" for="{{ field.auto_id }}">{{ field.label }}</label>
        {{ field }}
    {% endfor %}
    <br/>
    <br/>
    <button type="submit" class="btn btn-success">
        Save New Landlord
    </button>
    <a href="{% url 'all_landlords' %}" class="btn btn-danger">Cancel</a>


</form>

{% endblock content %}