{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "global/forms.css" %}">
{% endblock css_files %}

{% block title %}
Edit Landlord
{% endblock title %}

{% block content %}
<center><h1>Edit Landlord</h1></center>

<form method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class=" form_control {% if field.errors %} errors{% endif %}">
        <label class="{% if field.field.required == True %}required{% endif %}" for="{{ field.auto_id }}">{{ field.label }}</label>
        {{ field }}
        {{ field.errors }}        
    </div>
    {% endfor %}
    <br/>
    <button type="submit" class="btn btn-success">
        Update Record
    </button>
    <a href="{% url "landlord_record" record.id %}" class="btn btn-danger">Cancel</a>
    <a href="{% url "all_landlords" %}" class="btn btn-secondary">Cancel and Back to All Landlords</a>
</form>
{% endblock content %}